/* ------------------------------------- 
	Common styles 
	------------------------------------- */
.main-wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	.page
		flex: 1
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.main-wrapper
		display: block


.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto

@media (min-width: 576px)
	.container
		max-width: 540px

@media (min-width: 768px)
	.container
		max-width: 758px

@media (min-width: 992px)
	.container
		max-width: 960px

@media (min-width: 1230px)
	.container
		max-width: 1200px


.flex
	display: flex
	flex-wrap: wrap

	
.img
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap


.list
	margin: 0
	padding: 0
	list-style: none
/* ---------- Sections ---------- */
.sec-bg
	background: #f7f7f7
.sec-pt
	padding-top: 75px

/* ---------- Titles & text ---------- */
.title1
	color: $accent
	font-size: 65px
	font-weight: 700
	line-height: 1.2
	text-transform: uppercase
	font-family: $subfont-b
	
.title-44
	color: $accent
	font-size: 44px
	font-weight: 700
	line-height: 1
	text-transform: uppercase
	font-family: $subfont-b
	&--subaccent
		color: $subaccent

.title-30
	font-size: 30px
	font-weight: 700
	line-height: 1
	text-transform: uppercase
	font-family: $subfont-b

.title-25
	font-size: 25px
	font-weight: 700
	line-height: 1
	text-transform: uppercase
	font-family: $subfont-b

.tac
	text-align: center

/* ----- Кнопки ----- */
.button
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	max-width: 400px
	height: 56px
	border: 2px solid $accent
	background: $accent
	padding-top: 2px
	font-size: 18px
	font-weight: 400
	line-height: 1
	color: $white
	position: relative
	z-index: 1
	cursor: pointer
	overflow: hidden
	transition: all  0.25s
	position: relative
	&:hover
		background: $white
		color: $accent
	&--white
		border: 1px solid $white
	&--arrow
		&:before
			content: ''
			position: absolute
			top: 51%
			right: 16%
			font-size: 10px
			width: 3em
			height: 0.1em
			background: #fff
		&:after
			content: ''
			position: absolute
			top: 50%
			right: 17%
			font-size: 10px
			width: 1em
			height: 1em
			border: 1px solid $white
			border-left: 0
			border-bottom: 0
			transform: rotate(45deg) translateY(-50%)



/* ----- Forms ----- */

*::placeholder
	color: rgba($text-color, .5)
	opacity: 1


body input:focus:required:invalid, body textarea:focus:required:invalid,
body input:required:valid, body textarea:required:valid
	color: $text-color


.input
	display: block
	width: 100%
	min-width: 1px
	height: 45px
	padding: 16px 15px 14px 15px
	background-color: #eee
	border: 1px solid #f4f4f4
	font-size: 14px
	&:focus
		outline: none



.slick-list
	padding-top: 0% !important
	padding-bottom: 0% !important
	padding-left: 0 !important
	padding-right: 0 !important



.slick-track
	max-width: 100% !important
	transform: translate3d(0, 0, 0) !important
	perspective: 100px

.slick-slide
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	opacity: 0
	width: 100% !important
	transform: translate3d(0, 0, 0)
	transition: transform 1s, opacity 1s
	img
		height: 100%
		object-fit: cover

.slick-snext, .slick-sprev
	display: block

.slick-current
	opacity: 1
	position: relative
	display: block
	transform: translate3d(0, 0, 0)
	z-index: 2
	height: 100%

.slick-snext
	opacity: 1
	transform: translate3d(0%, 0, 0px)
	z-index: 1

.slick-sprev
	opacity: 1
	transform: translate3d(-5%, 0, 0px)
	

// Arrows
.slick-prev, .slick-next
	font-size: 0
	line-height: 0
	position: absolute
	display: inline-block
	width: 44px
	height: 44px
	background: $accent
	z-index: 2
	bottom: 0
	cursor: pointer
	border: none
	outline: none
	transform: rotate(-90deg)
	&::before
		content: ""
		display: block
		position: absolute
		border: 2px solid $text-color
		width: 10px
		height: 10px
		transform: translateX(-50%) rotate(135deg)
	&:after
		content: ''
		position: absolute
		left: 48%
		width: 2px
		height: 30px
		background: $text-color
		
.slick-prev::before
	left: 51.5%
	border-right: 0
	border-top: 0
	top: 15px
.slick-next::before
	left: 51.5%
	border-left: 1px
	border-bottom: 1px

.slick-prev::after
	top: 15px
.slick-next::after
	bottom: 11px


.slick-prev
	top: calc(50% - 30px)
	left: 0
.slick-next
	top: calc(50% - 30px)
	right: 0

.slick-prev,
.slick-next
	&:hover, &:focus
		outline: none
		opacity: 0.8

.slick-prev
	&:hover:before, &:focus:before
		opacity: 1
.slick-next
	&:hover:before, &:focus:before
		opacity: 1

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
	//opacity: .25

.slick-prev:before, .slick-next:before
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
.slick-prev:before
	content: '←'
	font-size: 0

.slick-next:before
	content: '→'
	font-size: 0


// Dots

.slick-dots
	position: absolute
	bottom: 25px
	z-index: 2
	display: block
	width: 100%
	padding: 0
	margin: 0
	list-style: none
	text-align: center
	li
		position: relative
		display: inline-block
		width: 10px
		height: 10px
		margin: 0 10px
		padding: 0
		cursor: pointer
		button
			width: 10px
			height: 10px
			border-radius: 50%
			font-size: 0
			line-height: 0
			display: block
			padding: 0px
			cursor: pointer
			color: transparent
			outline: none
			background: $white
			&:hover, &:focus
				outline: none
			&:hover:before, &:focus:before
				opacity: 1

		&.slick-active button
			color: black$accent
			background: $accent


@media (max-width : 1229px)
	/**/

@media (max-width : 991px)
	.title1
		text-align: center
		font-size: 50px

@media (max-width : 767px)
	.title1
		font-size: 50px
	
@media (max-width : 575px)
	.title1
		font-size: 40px

@media (max-width : 480px)
	.title1
		font-size: 30px
	.title-30
		font-size: 24px
	.button
		&--arrow
			&:before
				font-size: 8px
				right: 27px
				background: #fff
			&:after
				font-size: 8px
				right: 30px

@media (max-width : 374px)
	/**/