/* ------------------------------------- 
	Font face 
	------------------------------------- */
@mixin font-face($font-name, $path, $weight, $style) 
	@font-face 
		font-family: quote($font-name)
		src: url("#{$path}.woff2") format("woff2"), url("#{$path}.woff") format("woff"), url("#{$path}.ttf") format("truetype")
		font-weight: $weight
		font-style: $style
		font-display: swap
	
// https://transfonter.org/

@include font-face('bebasneue', '../fonts/BebasNeueThin', 200, 'normal')
@include font-face('bebasneue', '../fonts/BebasNeueLight', 300, 'normal')
@include font-face('bebasneue', '../fonts/BebasNeueRegular', 400, 'normal')
@include font-face('bebasneue', '../fonts/BebasNeueBold', 700, 'normal')

@include font-face('Geometria', '../fonts/Geometria', 400, 'normal')
@include font-face('Geometria', '../fonts/Geometria-Bold', 700, 'normal')

@include font-face('FuturaNewBook', '../fonts/FuturaNew/FuturaNewBook-Reg', 400, 'normal')
@include font-face('FuturaNew', '../fonts/FuturaNew/FuturaNewHeavy-Reg', 900, 'normal')
@include font-face('FuturaNew', '../fonts/FuturaNew/FuturaNewMedium-Reg', 500, 'normal')
@include font-face('FuturaNew', '../fonts/FuturaNew/FuturaNewMedium-Obl', 500, 'italic')
@include font-face('FuturaNew', '../fonts/FuturaNew/FuturaNewBook-Reg', 400, 'normal')
@include font-face('FuturaNew', '../fonts/FuturaNew/FuturaNewLight-Reg', 300, 'normal')


	