//var for root
$white: #fff
$black: #000
$d-blue: #1a203c
$l-blue: #3286aa

\:root
	--accent: #{$d-blue}
	--subaccent: #{$l-blue}
	--text-color: #{$black}
	--default-font: 'FuturaNew', sans-serif
	--subfont-g: 'Geometria', sans-serif
	--subfont-b: 'bebasneue', sans-serif


//var for sass

$accent: var(--accent)
$subaccent: var(--subaccent)
$text-color: var(--text-color)
$default-font: var(--default-font)
$subfont-g: var(--subfont-g)
$subfont-b: var(--subfont-b)