.portfolio
	color: #fff
	padding-bottom: 40px
	&__row
		justify-content: space-between
	&__col
		flex: 0 0 48.5%
		max-width: 48.5%
		margin-bottom: 28px
		&-df
			justify-content: space-between
	&__img-block
		justify-content: space-between
		&--flex
			flex: 0 0 48.5%
			max-width: 48.5%
	&__img
		position: relative
		overflow: hidden
		//min-width: 261px
		img
			width: 100%
			object-fit: cover
		&-col
			flex: 0 0 48%
			max-width: 48%		
			margin-bottom: 28px
			img
				min-height: 280px
				height: 280px
			&--100
				flex: 0 0 100%
				max-width: 100%						
				img
					min-height: 280px
					height: 280px
		&--big
			height: 100%
			img
				min-height: 280px
				height: 100%
				max-height: 589px
		&:hover
			.portfolio__overlay
				transform: translateY(0)
	&__overlay
		transition: all 0.5s
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		background: rgba(#1c2135,0.8)
		justify-content: center
		align-items: center
		transform: translateY(-100%)
		&-descr
			width: 80%
			max-width: 320px
			text-align: center
		&-link
			padding: 0.7em 1.8em
			width: 100%
	&__consult
		flex: 0 0 48.5%
		max-width: 48.5%
		background: $accent
		padding: 30px 12px
		max-height: 589px
		&-h3
			margin-bottom: 20px
		&-logo
			justify-content: center
			margin-bottom: 40px
	&__btn
		font-size: 18px
		padding: 1em 1em
		margin: 50px 0 0 
		&:hover
			background: #fff
			color: $accent
	&__txt
		font-size: 20px
		&--tdu
			text-transform: uppercase
	&__city
		font-size: 18px
		text-transform: none
		font-family: $default-font
		display: block
	&-btn-more
		margin: 0 auto 20px
		display: none
		max-width: 290px
		font-size: 14px
		text-transform: uppercase
		padding: 0.8em 1.8em
	
		
@media only screen and (max-width : 1199px)
	.portfolio
		&__row
			justify-content: center
		&__col
			flex: 0 0 552px
			max-width: 552px
			margin-bottom: 28px


@media only screen and (max-width : 575px)
	.portfolio
		padding-bottom: 0
		&__col
			flex: 0 0 100%
			max-width: 100%
			margin-bottom: 0
		&__img
			flex: 0 0 290px
			max-width: 290px
			margin: 0 auto 20px
			display: none
			&--active
				display: block
			img
				height: 171px
				max-height: 171px
				min-height: 171px
				object-fit: cover
		&__overlay 
			position: relative
			transform: translateY(0)
			justify-content: flex-start
			padding: 5px 0 0
			background: none
			&-descr
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
			&-link
				display: none
		&__consult
			display: none
		&__img-block--flex
			flex: 0 0 290px
			max-width: 290px
			margin-left: auto
			margin-right: auto
		&__name
			font-size: 17px
			font-family: "BebasNeueBold"
			color: $accent
		&__city
			font-size: 14px
			color: $accent
			margin: 0 0 2px 2px
			display: inline-block
		&-btn-more
			display: block
			margin-bottom: 36px

