.hero
	padding: 66px 0 0 0
	position: relative
	&__title
		font-family: $subfont-b
		font-weight: bold
		font-size: 46px
		color: $subaccent
		text-transform: uppercase
		margin-bottom: 6px
		margin-top: 118px
		line-height: 1.2
	&__subtitle
		text-transform: uppercase
		font-size: 28px
		font-family: $subfont-b
		font-weight: bold
		color: #292929
	&__slider
		position: static
	.container
		position: static
	&__colL
		min-height: 520px
		flex: 0 0 35%
		max-width: 35%
	&__colR
		flex: 0 0 60%
		max-width: 60%
	&__btn
		margin: 30px 0 40px 0  
		max-width: 380px
		position: relative
		&--mobi
			display: none

			
.rev_slider
	position: absolute
	top: 130px
	right: 0
	width: 57%
	&::before
		content: ''
		position: absolute
		bottom: 4px
		left: 0
		width: 30px
		height: calc(100% - 15px)
		transform: translateX(-99%)
		background: $accent
		z-index: 2
	&::after
		content: ''
		position: absolute
		bottom: 4px
		left: 0
		width: 27px
		height: calc(100% - 25px)
		transform: translateX(-198%)
		background: $subaccent
	&-btn
		position: absolute
		bottom: 55px
		left: 50%
		transform: translateX(-50%)
		max-width: 170px
		height: 50px
	.slick-prev, .slick-next
		background: none
	.slick-prev:after, .slick-next:after
		height: 20px
	.slick-prev::before, .slick-next::before
		width: 13px
		height: 13px
	.slick-next::after
		bottom: 7px
.rev_slide-img
	display: block
	width: 100%
	height: 520px
	position: relative
	&:after
		//content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(#000,0.6)

.hero
	&__adv
		justify-content: space-between
		width: 100%
		&-item
			flex: 0 0 30%
			max-width: 30%
			margin-bottom: 20px
		&-icon
			width: 44px
			height: 44px
			margin: 0 auto
			display: flex
			justify-content: center
		&-txt
			text-align: center
			font-size: 14px
		

@media only screen and (max-width : 1229px)
	.hero
		&__colL
			flex: 0 0 42%
			max-width: 42%
		.rev_slider
			width: 50%


@media only screen and (max-width : 991px)
	.hero
		text-align: center
		.rev_slide-img
			height: 400px
		.rev_slider
			width: 100%
			position: relative
			top: 0
			&::after
				display: none
			&::before
				display: none
		&__colL
			flex: 0 0 100%
			max-width: 100%
			min-height: auto
		&__colR
			flex: 0 0 100%
			max-width: 100%
		&__btn
			margin-left: auto
			margin-right: auto
			&--desc
				display: none
			&--mobi
				display: flex
		&__adv
			max-width: 400px
			margin-left: auto
			margin-right: auto
		&__title
			margin-top: 60px


@media only screen and (max-width : 767px)
	.hero
		.rev_slide-img
			height: 280px
	.rev_slider
		&-btn
			height: 40px


@media only screen and (max-width : 480px)
	.hero
		.rev_slide-img
			height: 228px
		&__title
			font-size: 40px
		&__adv-txt
			font-size: 12px


@media only screen and (max-width : 374px)
	.hero
		&__subtitle
			font-size: 24px
			br
				display: none
		&__btn
			font-size: 16px
		&__adv-item
			flex: 0 0 32%
			max-width: 32%