/* ----- header ----- */
.header
	padding: 5px 0
	position: fixed
	width: 100%
	top: 0
	z-index: 9
	background: rgba(#fff,0.9)
	&__row
		align-items: center
		justify-content: space-between
		//flex-wrap: nowrap
	.logo
		display: block
		flex: 0 0 165px
		max-width: 165px
		img
			max-width: 40px
	&__menu
		flex: 1 0 auto
	&__contacts
		flex-direction: column
		align-items: flex-end
		margin-left: 10%
		flex: 0 0 160px
		max-width: 160px
	&__callorder
		color: $subaccent
		text-decoration: underline
		transition: all 0.25s
.nav__list
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin: 0
	padding-left: 0
	list-style: none
	a
		padding: 0 10px
		font-size: 16px
		text-transform: uppercase
		text-decoration: none

		transition: all 0.25s
		&:hover
			color: $subaccent

.tel
	font-size: 18px
	font-weight: bold

@media (max-width : 991px)
	.nav
		padding: 0
		transition: all .25s
		position: fixed
		background: $accent
		top: 15px
		right: 12px
		height: 36px
		width: 36px
		z-index: 100
		cursor: pointer
		border-radius: 3px

		&__list
			flex-direction: column
			transition: all 0s
			position: fixed
			right: -9000px

		&__toggle
			transition: all .25s
			content: ""
			height: 3px
			width: 30px
			border-radius: 15px
			background-color: $white
			position: fixed
			top: 32px
			right: 15px
			z-index: 10
			&::before, &::after  
				transition: all .25s
				content: ""
				position: absolute
				left: 0
				height: 3px
				width: 30px
				border-radius: 15px
				background-color: $white
			&::before
				top: -8px
			&::after 
				top: 8px
	
	.nav-expanded 
		transition: all .25s
		text-align: center
		height: 100%
		width: 100%
		border-radius: 0px
		position: fixed
		right: 0
		top: 0
		background-color: #f1f1f1
		overflow-y: auto
		overflow-x: hidden
		.nav__list
			position: relative
			right: 0
			padding-top: 60px
			text-align: center
			transition: all .1s
			z-index: 2
			
		a
			display: block
			padding: 1rem 0
			font-size: 1em
			text-decoration: none
			color: #000
			transition: all .15s
			&:hover 
				background-color: rgba(0,0,0,.1)
				text-decoration: none
				transition: all .15s
	
		.nav__toggle
			background-color: transparent
			transition: all .25s
			&:before 
				transition: all .25s
				background: $accent
				color: #000
				top: 0
				transform: rotate(45deg)
			&:after 
				transition: all .25s
				background: $accent
				color: #000
				top: -0px
				transform: rotate(-45deg)


@media (max-width : 1229px)
	.header
		.logo
			max-width: 80px
			flex: 0 0 80px
		&__contacts
			margin-left: 20px
@media (max-width : 991px)
	.header
		&__menu
			flex: 0 0 auto
		&__contacts
			margin: 0
			flex: 0 0 calc(100% - 80px)
			max-width: calc(100% - 80px)
			align-items: center

@media (max-width : 480px)
	.header
		.tel
			margin-bottom: 2px
		&__contacts
			margin: 0
			flex: 0 0 calc(100% - 130px)
			max-width: calc(100% - 130px)
			margin-right: 50px


@media (max-width : 374px)
	.header
		.logo
			max-width: 60px
			flex: 0 0 60px
		&__contacts
			margin: 0
			flex: 0 0 calc(100% - 110px)
			max-width: calc(100% - 110px)
			margin-right: 50px