section.portfolio.sec-pt.sec-bg
	.container
		h2.title.portfolio__title.title1 КАТАЛОГ нашей #[br]продукции 
		.portfolio__row.flex
			.portfolio__col
				.portfolio__img-block.flex
					.portfolio__img.portfolio__img-col.portfolio__img--active
						a(href='#')
							img(src='img/home/portf1.jpg' alt='')
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name.title-30
										| ОТП Банк 
										span.portfolio__city г.Нижний Новгород
								a.portfolio__overlay-link.btn.btn--trsp(href='#') Подробнее
						// /.portfolio__overlay
					.portfolio__img.portfolio__img-col.portfolio__img--active
						a(href='#')
							img(src='img/home/portf2.jpg' alt='')
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name.title-30
										| ОТП Банк 
										span.portfolio__city г.Нижний Новгород
								a.portfolio__overlay-link.btn.btn--trsp(href='#') Подробнее
						// /.portfolio__overlay
				.portfolio__img.portfolio__img--active.portfolio__img-col--100
					a(href='#')
						img(src='img/home/portf3.jpg' alt='')
					.portfolio__overlay.flex
						.portfolio__overlay-descr
							a(href='#')
								h3.portfolio__name.title-30
									| ОТП Банк 
									span.portfolio__city г.Нижний Новгород
							a.portfolio__overlay-link.btn.btn--trsp(href='#') Подробнее
					// /.portfolio__overlay
			.portfolio__col
				.portfolio__img.portfolio__img--big
					a(href='#')
						img(src='img/home/portf4.jpg' alt='')
					.portfolio__overlay.flex
						.portfolio__overlay-descr
							a(href='#')
								h3.portfolio__name.title-30
									| ОТП Банк 
									span.portfolio__city г.Нижний Новгород
							a.portfolio__overlay-link.btn.btn--trsp(href='#') Подробнее
					// /.portfolio__overlay
			.portfolio__col
				.portfolio__img.portfolio__img--big
					a(href='#')
						img(src='img/home/portf5.jpg' alt='')
					.portfolio__overlay.flex
						.portfolio__overlay-descr
							a(href='#')
								h3.portfolio__name.title-30
									| ОТП Банк 
									span.portfolio__city г.Нижний Новгород
							a.portfolio__overlay-link.btn.btn--trsp(href='#') Подробнее
					// /.portfolio__overlay
			.portfolio__col.portfolio__col-df.flex
				.portfolio__img-block.portfolio__img-block--flex
					.portfolio__img.portfolio__img-col.portfolio__img-col--100
						a(href='#')
							img(src='img/home/portf6.jpg' alt='')
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name.title-30
										| ОТП Банк 
										span.portfolio__city г.Нижний Новгород
								a.portfolio__overlay-link.btn.btn--trsp(href='#') Подробнее
						// /.portfolio__overlay
					.portfolio__img.portfolio__img-col.portfolio__img-col--100
						a(href='#')
							img(src='img/home/portf7.jpg' alt='')
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name.title-30
										| ОТП Банк 
										span.portfolio__city г.Нижний Новгород
								a.portfolio__overlay-link.btn.btn--trsp(href='#') Подробнее

				.portfolio__consult.tac
					.portfolio__consult-logo.flex
						a.logo(href='#')
							img(src='img/home/logo.svg' alt='')
					h3.h3.h3--bold.portfolio__consult-h3 хотите сделать ремонт своего помещения?
					h3.h3.h3--bold.portfolio__consult-h3 не знаете с чего начать?
					p.portfolio__txt
						| Напишите нам!
						br
						| Наши специлисты свяжутся с вами в кратчайшие сроки и проконсультируют по всем вопросам абсолютно 
						span.portfolio__txt--tdu бесплатно!
					a.button.button--white.portfolio__btn.cd-popup-trigger-form-js(href='#') Хочу проконсультироваться