// SECTION STEPS BEGIN
section.steps.bg--dark.pt-90
	.container
		h2.title1.steps__title как мы работаем
		.steps__row.flex
			.steps__item
				.steps__item-top.flex
					span.steps__number 01
					span.steps__time От 10 минут
				h3.steps__h3.title-30
					| Интервью 
					br
					| по телефону
				p.steps__txt
					| Первичная консультация. Выясним ваши задачи, ответим на вопросы и договоримся о дальнейших действиях.
			// /.steps__item
			.steps__item
				.steps__item-top.flex
					span.steps__number 02
					span.steps__time 1 - 3 часа
				h3.steps__h3.title-30
					| встреча 
					br
					| на объекте
				p.steps__txt
					| Сделаем точные замеры помещений с помощью 3D-сканера, обсудим ваши пожелания, предложим комплектацию.
			// /.steps__item
			.steps__item
				.steps__item-top.flex
					span.steps__number 03
					span.steps__time 1 день
				h3.steps__h3.title-30
					| составление 
					br
					| сметы
				p.steps__txt Подготовим и пришлём подробную смету и один вариант дизайн-проекта.
			// /.steps__item
			.steps__item
				.steps__item-top.flex
					span.steps__number 04
					span.steps__time 1 - 3 часа
				h3.steps__h3.title-30
					| встреча в
					br
					| офисе
				p.steps__txt
					| Окончательно согласуем перечень работ и материалы. Подпишем документы. Распишем график платежей.
			// /.steps__item
			.steps__item
				.steps__item-top.flex
					span.steps__number 05
					span.steps__time От 7 дней
				h3.steps__h3.title-30
					| выполнение  
					br
					| работ
				p.steps__txt
					| Приступаем к производству лестницы.
					br
					|Доставляем к вам на объект, производим монтаж и последующую уборку мусора.
			// /.steps__item
			.steps__item
				.steps__item-top.flex
					span.steps__number 06
					span.steps__time 1 - 3 часа
				h3.steps__h3.title-30
					| приемка готового 
					br
					| объекта
				p.steps__txt Сдаём выполненный заказ. Вы проверяете и принимаете работу.
			// /.steps__item
// SECTION STEPS END
