extends layout/main

block variables
	- let title = 'Название - Главная'



block content
	include sections-index/hero
	include sections-index/catalog
	include sections-index/steps
	//include sections-index/production
	include sections-index/about





//- block libs-css
	//- библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")
	link(rel="stylesheet" href="css/styles.css")

//- block libs-js
	//- библиотека.js
	script(src="libs/library/library.js")
	script(src="js/scripts.js")